<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czandlh.mapper.RestContentMapper">

    <insert id="insert" parameterType="com.czandlh.entity.RestContent">
        insert into crime_content
        (uid, `code`, `street`, `name`, `classification`, `amount`, deleted, createDate, updateDate, operator)
        values (#{uid}, #{code}, #{street}, #{name}, #{classification}, #{amount}, #{deleted}, now(), now(),
                #{operator})
    </insert>

    <update id="update" parameterType="com.czandlh.entity.RestContent">
        update crime_content
        set `code`           = #{code},
            `street`         = #{street},
            `name`           = #{name},
            `classification` = #{classification},
            `amount`         = #{amount},
            deleted          = #{deleted},
            updateDate       = now(),
            operator         = #{operator}
        where uid = #{uid}
    </update>

    <select id="findByDeleted" resultType="com.czandlh.entity.RestContent">
        select id,
               uid,
               `code`,
               `street`,
               `name`,
               `classification`,
               `amount`,
               deleted,
               createDate,
               updateDate,
               operator
        from crime_content
        where deleted = 0
        order by createDate desc
    </select>

    <select id="findTop1ByUidAndDeleted" resultType="com.czandlh.entity.RestContent">
        select id,
               uid,
               `code`,
               `street`,
               `name`,
               `classification`,
               `amount`,
               deleted,
               createDate,
               updateDate,
               operator
        from crime_content
        where deleted = 0
          and uid = #{uid}
    </select>
</mapper>
