<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czandlh.mapper.RestUserMapper">
    <insert id="insert" parameterType="com.czandlh.entity.RestUser">
        insert into crime_user
        (uid, `name`, gender, age, `birthDate`, lends, `role`, image, mobile, email, username,
         password, deleted, createDate, updateDate, operator)
        values (#{uid}, #{name}, #{gender}, #{age}, #{birthDate}, #{lends}, #{role}, #{image}, #{mobile}, #{email},
                #{username}, #{password}, #{deleted}, now(), now(), #{operator})
    </insert>

    <update id="update" parameterType="com.czandlh.entity.RestUser">
        update crime_user
        set `name`      = #{name},
            gender      = #{gender},
            age         = #{age},
            `birthDate` = #{birthDate},
            `lends`     = #{lends},
            `role`      = #{role},
            image       = #{image},
            mobile      = #{mobile},
            email       = #{email},
            username    = #{username},
            password    = #{password},
            deleted     = #{deleted},
            createDate  = #{createDate},
            updateDate  = #{updateDate},
            operator    = #{operator}
        where uid = #{uid}
    </update>

    <select id="findByDeleted" resultType="com.czandlh.entity.RestUser">
        select id,
               uid,
               `name`,
               gender,
               age,
               `birthDate`,
               lends,
               `role`,
               image,
               mobile,
               email,
               username,
               password,
               deleted,
               createDate,
               updateDate,
               operator
        from crime_user
        where deleted = 0
    </select>

    <select id="getByUsernameAndDeleted" resultType="com.czandlh.entity.RestUser">
        select id,
               uid,
               `name`,
               gender,
               age,
               `birthDate`,
               lends,
               `role`,
               image,
               mobile,
               email,
               username,
               password,
               deleted,
               createDate,
               updateDate,
               operator
        from crime_user
        where deleted = 0
          and username = #{username}
    </select>

    <select id="findTop1ByUidAndDeleted" resultType="com.czandlh.entity.RestUser">
        select id,
               uid,
               `name`,
               gender,
               age,
               `birthDate`,
               lends,
               `role`,
               image,
               mobile,
               email,
               username,
               password,
               deleted,
               createDate,
               updateDate,
               operator
        from crime_user
        where deleted = 0
          and uid = #{uid}
    </select>


</mapper>